@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
  background-color: black;
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,54,102,1) 100%);
  background-image: radial-gradient(circle, #000002, #02030b, #030613, #040918, #030c1d, #051225, #05172d, #021b35, #022343, #012b51, #013360, #003c6f);
  /* background-image: linear-gradient(to right, #000002, #02030b, #030613, #040918, #030c1d, #051225, #05172d, #021b35, #022343, #012b51, #013360, #003c6f); */
}
.gradient {
  /* background: #69B4FF;
  background: linear-gradient(to right, #69B4FF 82%, #CAC8D1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  background: #69B4FF;
  background: linear-gradient(to right, #69B4FF 40%, #CAC8D1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient2{
  background-image: linear-gradient(to right, #000002, #02030b, #030613, #040918, #030c1d, #051225, #05172d, #021b35, #022343, #012b51, #013360, #003c6f);
}
.black-bg{
  background-color: #000;
}